@import 'colors';

header{
    position: relative;
    .menupanel{
        //  width: 150%;
        &__mobile{
            display: flex;
            flex-direction: column;
            &--navigation{
                position: relative;
                .navigation-title-list{
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    .navigation-title{
                        list-style: none;
                        padding: 10px 0;
                        font-size: 1.4rem;
                        cursor: pointer;
                        margin-bottom: 10px;
                        border-bottom: 4px solid transparent ;
                        width: 50%;
                        text-align: center;
                    }
                    .active-category{
                        border-bottom: 4px solid $pink-inserts;
                    }
                }
                .swiping-menu{
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    transition: .5s;
                    width: 100%;
                    .swiping-menu__left{
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        left: 50%;
                        transform: translate(-50%);
                        .swiping-menu_categories{
                            li{
                                position: relative;
                                list-style: none;
                                padding: 10px;
                                font-size: 1.4rem;
                                cursor: pointer;
                                text-transform: uppercase;
                                border-bottom: 3px solid transparent;
                            }
                            .hover-link::after{
                                position: absolute;
                                content: '';
                                bottom: -3px;
                                left: 0;
                                background-color: $pink-inserts;
                                height: 3px;
                                width: 100%;
                                transform: scaleX(0);
                                transform-origin: right;
                                transition: transform .3s;
                            }
                            .hover-link:hover::after{
                                transform: scaleX(1);
                                transform-origin: left;
                            }
                            .active-li{
                                color: $pink-main;
                                background-color: $active-category;
                                border-bottom: 3px solid $pink-inserts;
                            }
                        }
                    }
                    .swiping-menu__right{
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        left: 150%;
                        transform: translate(-50%);
                            .swiping-menu_categories{
                                li{
                                    position: relative;
                                    list-style: none;
                                    padding: 10px;
                                    font-size: 1.4rem;
                                    cursor: pointer;
                                    text-transform: uppercase;
                                    border-bottom: 3px solid transparent;
                                }
                                .hover-link::after{
                                    position: absolute;
                                    content: '';
                                    bottom: -3px;
                                    left: 0;
                                    background-color: $pink-inserts;
                                    height: 3px;
                                    width: 100%;
                                    transform: scaleX(0);
                                    transform-origin: right;
                                    transition: transform .3s;
                                }
                                .hover-link:hover::after{
                                    transform: scaleX(1);
                                    transform-origin: left;
                                }
                            }

                    }
                }
                .swiped{
                    left: -100%;
                }
            }
        }
        &__classic{
            display: none;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 130%;
            transform: translate(-15%);
            &--list{
                .classic-menu-list{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    width: 100%;
                    padding-bottom: 10px;
                    border-bottom: 3px solid $text-color-expire;
                    .classic-menu-category{ 
                        position: relative;
                        list-style: none;
                        padding: 10px 20px 10px;
                        margin: 0 5px;
                        text-transform: uppercase;
                        font-size: 1.2rem;
                        cursor: pointer;
                        border-bottom: 3px solid transparent;
                    }
                    .hover-link::after{
                        position: absolute;
                        content: '';
                        bottom: -3px;
                        left: 0;
                        background-color: $pink-inserts;
                        height: 3px;
                        width: 100%;
                        transform: scaleX(0);
                        transform-origin: right;
                        transition: transform .3s;
                    }
                    .hover-link:hover::after{
                        transform: scaleX(1);
                        transform-origin: left;
                    }
                    .active-li{
                        color: $pink-inserts;
                        border-bottom: 3px solid $pink-inserts;
                    }
                }
            }
        }
    }
    .mobileMenuHidden{
        position: absolute;
        left: 150%;
    }
}


@media (min-width: 768px) { 
    header{
        .menupanel{
            width: 80%;
            &__mobile{
            display: none;}
            &__classic{
            display:flex;
            }
        }
    
    }
 }

 @media (min-width: 1200px) { 
    header{
        .menupanel{
            &__classic{
                margin-top: 15px;
                &--list{
                    .classic-menu-list{
                        .classic-menu-category{
                            font-size: 1.3rem;
                         }
                    }}
            }
        }
    
    }
 }

